<body>
<div id="myChart" width="400" height="400"></div>
<script src="https://cdn.plot.ly/plotly-2.1.0.min.js"></script>

<script>
series = [
{% for dataset in datasets %}
    {
        type: "scatter",
        mode: "lines",
        "_id": '{{dataset[0]}}',
        name: '{{dataset[1]}}',
        x: [],
        y: ["0", "1"],
        line: {color: 'hsl({{dataset[0]/datasets|length *360}}, 50%, 40%)'}
    },
{% endfor %}
]

series.forEach(dataset=>{
    fetch('/api/logs/'+dataset._id+'/').then(response=>response.json()).then(list=>addData(dataset, list))
})

function addData(dataset, list) {
    // transpose [[<date>, <value>], [<date>, <value>], ...] -> x:[<date>, <date>, ...], y: [<value>, <value>, ...]
    for (let i=0; i<list.length; i++) {
        dataset.x.push(list[i][0])
        dataset.y.push(list[i][1])
    }
    Plotly.redraw('myChart')
}

var layout = {
    title: 'Time Series with Rangeslider',
    xaxis: {
        autorange: true,
        
        rangeselector: {buttons: [
            {
                count: 1,
                label: '1m',
                step: 'month',
                stepmode: 'backward'
            },
            {
                count: 6,
                label: '6m',
                step: 'month',
                stepmode: 'backward'
            },
            {step: 'all'}
        ]},
        rangeslider: {visible: true},
        type: 'date'
    },
    yaxis: {
        autorange: true,
        range: [0, 10],
        type: 'linear'
    }
};

Plotly.newPlot('myChart', series, layout)
</script>
</body>